.board-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: green;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.board {
  height: 100vmin;
  width: 100vmin;
  position: relative;
  display: block;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
}

.vinette {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 80%);
}

.game-container {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: blue;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black
}
